body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $g-body-background-color;
  color: #000;
  font-family: $g-font-family;
  font-size: $g-font-size;
  line-height: $g-line-height;
}
