$pink: #ea4c89;
$lightPink: #ffecf0;
$blue: #1769ff;
$yellow: #fdb72e;
$gra700: #656c7c;
$gray400: #b1b8c9;
$gray200: #e6e6e6;

$g-body-background-color: #fff;
$g-font-family: Inter, sans-serif;
$g-font-size: 1rem;
$g-line-height: 1.5;
